RewriteEngine On

<Files "helpers.php">
    Order Allow,Deny
    Deny from all
</Files>

# SECURITY HEADERS
Header always set Content-Security-Policy "\
default-src 'self'; \
script-src 'self' https://www.google.com https://www.gstatic.com https://gtmpx.com https://api-maps.yandex.ru https://yastatic.net https://core-renderer-tiles.maps.yandex.net https://cdn.jsdelivr.net https://code.jquery.com 'unsafe-eval' 'unsafe-inline'; \
style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; \
img-src 'self' data: https: https://*.maps.yandex.net; \
font-src 'self' data: https:; \
connect-src 'self' https://api-maps.yandex.ru https://*.maps.yandex.net https://cdn.jsdelivr.net https://suggestions.dadata.ru"

Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "SAMEORIGIN"

RewriteRule ^product/([a-zA-Z0-9-]+)$ product.php?url=$1 [QSA,L]
ErrorDocument 404 /404.php