/* Стили для шрифтов */

/* Jost обычный, 400 */
@font-face {
    font-family: "Jost";
    src: url("/assets/fonts/Jost-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Jost обычный, 700 */
@font-face {
    font-family: "Jost";
    src: url("/assets/fonts/Jost-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Jost курсивный, 400 */
@font-face {
    font-family: "Jost";
    src: url("/assets/fonts/Jost-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Jaro обычный */
@font-face {
    font-family: "Jaro";
    src: url("/assets/fonts/Jaro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
