/* Лоадеры */

@keyframes loader-spin {
    to {
        transform: rotate(360deg);
    }
}

.loader-overlay {
    position: fixed;
    inset: 0;
    z-index: var(--z-critical);
    background: var(--color-bg);
}

.loader-overlay__spinner {
    width: 7.5rem;
    height: 7.5rem;
    animation: loader-spin var(--loader-speed);
}

.content-loader-overlay {
    position: absolute;
    inset: 0;
    z-index: var(--z-base);
    gap: var(--space-16);

    background-color: var(--color-surface);
    border-radius: var(--radius-md);

    font-size: var(--font-size-lg);
    font-style: italic;
}

.content-loader-spinner {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;

    animation: loader-spin var(--loader-speed);
}
