/* Стили для футера */

.site-footer__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: var(--space-4);
    padding: var(--space-8) var(--space-12);

    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background-color: var(--color-surface);
    color: var(--color-text-muted);
}

.site-footer__section {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

/* .site-footer-disclaimer {
    max-width: 32rem;
} */

.site-footer__section-row {
    display: flex;
    align-items: flex-start;
    gap: var(--space-8);
}

.site-footer__icon {
    width: 2.75rem;
    min-width: 2.75rem;
    height: 2.75rem;
    flex-shrink: 0;
}

@media (max-width: 1050px) {
    .site-footer__inner {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: var(--space-4) var(--space-8);
    }

    .site-footer__inner .site-footer__section:first-child {
        grid-column: 1 / -1;
        order: 1;
    }

    .site-footer__section {
        font-size: var(--font-size-sm);
    }

    .site-footer-disclaimer {
        font-size: var(--font-size-xs);
    }

    .site-footer__section-row {
        gap: var(--space-4);
    }

    .site-footer__icon {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
    }
}
